$white: #ffffff;
$blue: #061e37;
$gray: #797b7b;
$green: #1de9b6;
$secontBlue: #78909c;
$countsBlue:#80d8ff;
$countsBlueSecond:#82b1ff;
$violet:#b388ff;
$pink:#ea80fc;
$bgcContact: #fafafa;
$footerTextColorBlue: #838f9b;
